<h1><%= @user.name %>'s Page</h1>
<% if @user.admin %>
    <h1>ADMIN</h1>
<% else %>
    <h3>Mood: <%= @user.mood %></h3>
    <h3>Tickets: <%= @user.tickets %></h3>
    <h3>Height: <%= @user.height %></h3>
<% end %>

<p id="notice"><%= notice %></p>
<br>
<%= link_to 'See attractions', attractions_path %>
<br>
<%= link_to 'Log Out', signout_path, method: :delete %>